/*.div-for-rows table {
    font-size: .8rem;
    width: 245px;
}

.div-for-rows {
    width: 250px;
    border: 1px solid #ccc;
    position: relative;
    overflow-y: auto;
    height: 136px;
}

.div-for-rows .table th {
    padding: .3rem !important;
    border-right: 1px solid #ccc;
}

.div-for-rows td {
    padding: .20rem !important;
    border-right: 1px solid #ccc;
}

.div-for-rows th.p-0 {
    width: 0;
}

.div-for-rows input.form-control {
    padding: 0;
    height: 1.4rem;
    font-size: 1rem;
}*/