.pat-info-div {
    display: flex;
    margin: 15px, 0;
}

.div-for-params {
    display: flex;
}

.div-block {
    padding: 2px;
}

.div-pair {
    display: flex;
    margin: 15px, 0;
}

.test-div0 {
    background-color: green;
}

.test-div1 {
    background-color: red;
}

.pat-value-div {
    margin-left: 50px;
}

.address-div {
    max-width: 300px;
}

.pat-label-div {
    min-width: 120px;
}