.patient-list-item {
    display: flex;
    margin: 15px 0;
}

.patient-list-item .patient-cover {
    flex-shrink: 0;
    width: 120px;
    margin-right: 30px;
}

.patient-list-item .patient-cover img {
    max-width: 100%;
}

.patient-list-item .patient-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    align-items: flex-start;
}