.header {
    margin-top: .5rem;
    padding-left: 10px;
}

.header ul button {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.header ul button:hover {
    background-color: rgb(216, 191, 191);
}